*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,Helvetica,sans-serif;
scroll-behavior:smooth;
}

body{
background:#0f172a;
color:white;
}

header{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 8%;
background:#111827;
position:fixed;
width:100%;
top:0;
}

.logo{
font-size:28px;
font-weight:bold;
color:#38bdf8;
}

nav a{
color:white;
margin-left:25px;
text-decoration:none;
}

nav a:hover{
color:#38bdf8;
}

section{
padding:100px 8%;
}

.home{
display:flex;
justify-content:space-between;
align-items:center;
min-height:100vh;
}

.home img{
width:320px;
border-radius:50%;
border:5px solid #38bdf8;
}

h1{
font-size:55px;
}

span{
color:#38bdf8;
}

.btn{
display:inline-block;
margin-top:20px;
padding:12px 25px;
background:#38bdf8;
color:white;
text-decoration:none;
border-radius:8px;
}

.box,.card{
background:#1e293b;
padding:20px;
margin-top:20px;
border-radius:10px;
}

.skill{
margin-top:20px;
}

.bar{
height:10px;
background:#555;
border-radius:20px;
overflow:hidden;
}

.bar span{
display:block;
height:100%;
background:#38bdf8;
}

footer{
text-align:center;
padding:20px;
background:#111827;
}
